.success-card {
  margin-top: 69px !important;
  border-radius: 0.5rem;
  max-width: 290px;
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04); */
  /* background-color: #fff; */
  margin: auto; /* Centers horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  /* align-items: center; Centers horizontally */
}

.success-header {
  padding: 1rem;
  padding-bottom: 0px;
}

.success-image {
  margin-left: 60px;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 8rem; /* Increased size */
  height: 8rem; /* Increased size */
  border-radius: 50%; /* To make it circular */
  animation: animate 0.6s linear alternate-reverse infinite;
  transition: 0.6s ease;
  margin-bottom: 30px;
}

.success-image svg {
  position: absolute;
  top: 27px;
  left: 25px;
  color: #0afa2a;
  width: 5.33rem; /* Increased size */
  height: 5.33rem; /* Increased size */
}

.success-content {
  margin-top: 1rem;
  text-align: center;
}

.success-title {
  color: #066e29;
  font-size: 1.75rem; /* Increased size */
  font-weight: 600;
  line-height: 1.5rem;
}

.success-message {
  margin-top: 1.25rem;
  color: #595b5f;
  font-size: 1.15rem; /* Increased size */
  line-height: 1.5rem;
}

.success-actions {
  margin: 0.8rem;
}

.success-track {
  display: inline-flex;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem; /* Increased size */
  color: #242525;
  font-size: 1rem; /* Increased size */
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}
