@tailwind base;
@tailwind components;
@tailwind utilities;


.searchbar { 
    position: relative;
}
.search-content {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: #f3f4f6;
    padding: 20px;
    border-radius: 0 0 14px 14px;
    max-height: 230px;
}